body{
  background-color: #F2EDE4;
}
.container{
  width: 30%;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  background-color: #A6978A;
}
.go_button{
  align-self: flex-end;
}
.slider_container{
    width:auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
output{
  margin-left: 50%;
  margin-right: 100%;
  display: inline-block;
  vertical-align: middle;
  background-color:#F2EDE4;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
input[type=range] {
  padding-left: 5%;
  padding-right: 5%;
  vertical-align: middle;
  display: inline-block;
  height: 30px;
  -webkit-appearance: none;
  background-color: inherit;
  margin: 10px 0;
  width: auto;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #253840;
  border-radius: 50px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000031;
  border: 0px solid #00001E;
  height: 24px;
  width: 26px;
  border-radius: 25px;
  background: #F2EDE4;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #253840;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #253840;
  border-radius: 50px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000031;
  border: 0px solid #00001E;
  height: 24px;
  width: 26px;
  border-radius: 25px;
  background: #F2EDE4;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #253840;
  border: 0px solid #010101;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #253840;
  border: 0px solid #010101;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000031;
  border: 0px solid #00001E;
  height: 24px;
  width: 26px;
  border-radius: 25px;
  background: #F2EDE4;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #253840;
}
input[type=range]:focus::-ms-fill-upper {
  background: #253840;
}
