:root {
  --color1: #D9CBBF;
  --color2: #A6978A;
  --color3: #F2EDE4;
  --color4: #586E73;
  --color5: #253840;
}
body{
  background-color: var(--color3);
}
p{
  text-align: center;
  color: var(--color3);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--color5);
  font-size: 50pt;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.text{
  font-weight: 1000;
  text-align: right;
  margin-right: 10px;
  color: var(--color3);
  -webkit-text-stroke-color: var(--color5);
  font-size: 16pt;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.container{
  width: 50%;
  padding-left: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color2);
  border-radius: 50px 300px;
}
#go_button{
  display: inline-block;
  vertical-align: middle;
  background-color:var(--color3);
  width: 100px;
  height: 50px;
  line-height: 50px;
  float: right;
  font-weight: bold;
  text-align: center;
  color:var(--color5);
  font-size: 16pt;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.slider_container{
    width:auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
.text_box{
  display: inline-block;
  vertical-align: middle;
  background-color:var(--color3);
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  text-align: center;
  color:var(--color5);
  font-size: 16pt;
}
input[type=range] {
  padding-left: 5%;
  padding-right: 50px;
  vertical-align: middle;
  display: inline-block;
  height: 30px;
  -webkit-appearance: none;
  background-color: inherit;
  margin: 10px 0;
  width: auto;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: var(--color5);
  border-radius: 50px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000031;
  border: 0px solid #00001E;
  height: 24px;
  width: 26px;
  border-radius: 25px;
  background: var(--color3);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--color5);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: var(--color5);
  border-radius: 50px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000031;
  border: 0px solid #00001E;
  height: 24px;
  width: 26px;
  border-radius: 25px;
  background: var(--color3);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: var(--color5);
  border: 0px solid #010101;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: var(--color5);
  border: 0px solid #010101;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000031;
  border: 0px solid #00001E;
  height: 24px;
  width: 26px;
  border-radius: 25px;
  background: var(--color3);
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: var(--color5);
}
input[type=range]:focus::-ms-fill-upper {
  background: var(--color5);
}
.modal-body-priv {
  position: absolute;
  width: 400px;
  height: 300px;
  top: 100px;
  left: calc(50% - 200px);
  border-radius: 20px;
  border: 2px solid rgba(80, 19, 200, 0.6);
}
[v-cloak] {display: none}
